body {
    background: linear-gradient(to bottom, rgb(204, 229, 255), rgba(204, 229, 255, 0.3));
}

#title {
    color: #61688c;
}

.subtitle {
    color: #7c7ca1;
}

.contact {
    color: #ce6c41;
}

#service-image {
    height: 400px;
    width: 70%;
    /* background: linear-gradient(155deg, red, turquoise, blue); */
    background: radial-gradient(circle, red, turquoise, blue);
    background-size: cover;
}


/* child selector */

li:first-child {
    color: blue;
}


/* child selector: every fifth li element be steelblue  */

li:nth-child(5) {
    color: steelblue;
}

li:only-child {
    color: purple;
}

h2+a {
    color: red;
}

ul>li {
    background-color: rgb(202, 202, 202);
}

ul li {
    color: rgb(122, 94, 116);
}


/* all img in this dir have same css*/


/* img[src^='./day-40-img/'] {
    border: 10px solid black;
} */